.titulo {
  color: black;
  background-color: yellow;
  font-size: xx-large; }

.centrar {
  display: flex;
  justify-content: center; }

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10%; }

.tituloLogin {
  position: absolute;
  top: 1%;
  padding: 10px;
  left: 46.5%;
  color: white; }

.calculadoraInputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%; }

.centrarElementosFuncionalidades {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 20px;
  padding-bottom: 30px; }

.flexColumn {
  display: flex;
  flex-direction: column; }

.separacionElementos {
  padding: 7px; }

.flexX {
  display: flex;
  flex: row; }

.botonFormulas {
  top: 0;
  right: 0;
  position: absolute; }

.tituloCalculadora {
  position: absolute;
  top: 1%;
  padding: 10px;
  left: 43%;
  color: white; }

.signUpp {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10%; }

.tituloRegister {
  position: absolute;
  top: 1%;
  padding: 10px;
  left: 45%;
  color: white; }

nav {
  background: linear-gradient(90deg, black 15%, #d8e747 37%, #b14a4a 56%, black 85%);
  height: 100px; }

.centrarBotonesFormulas {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 5px;
  padding-bottom: 5px; }

.tituloFormulas {
  position: absolute;
  top: 1%;
  padding: 10px;
  left: 44%;
  color: white; }

.primerElemento {
  margin-top: 30px; }
