.centrarBotonesFormulas{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tituloFormulas{
    position: absolute;
    top: 1%;
    padding: 10px;
    left: 44%;
    color: white;
}

.primerElemento{
    margin-top: 30px;
}