.titulo{
    color: black;
    background-color: yellow;
    font-size: xx-large;
}

.centrar{
    display: flex;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

.tituloLogin{
    position: absolute;
    top: 1%;
    padding: 10px;
    left: 46.5%;
    color: white;

}