.calculadoraInputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
}

.centrarElementosFuncionalidades{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.separacionElementos{
    padding: 7px;
}

.flexX{
    display: flex;
    flex: row;
}


.botonFormulas{
    top:0;
    right: 0;
    position: absolute;
}

.tituloCalculadora{
    position: absolute;
    top: 1%;
    padding: 10px;
    left: 43%;
    color: white;
}