
.signUpp{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

.tituloRegister{
    position: absolute;
    top: 1%;
    padding: 10px;
    left: 45%;
    color: white;
}